<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gestio_BC.Properties.Settings.securecoregunganConnectionString"
            connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=securecoregungan;Persist Security Info=True;User ID=securecoregungan"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>